.thumbnail {
  /*.img-thumbnail();*/

  display: block;
}
.thumbnail > img {
  /*.img-responsive();*/

}
a.thumbnail:hover,
a.thumbnail:focus {
  border-color: #428bca;
}
.thumbnail > img {
  margin-left: auto;
  margin-right: auto;
}
.thumbnail .caption {
  padding: 9px;
  color: #333333;
}
