<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="2.16.1" targetFramework="net45" />
  <package id="AutoFixture.AutoMoq" version="2.16.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="2.0.20715.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Moq" version="3.1.416.3" targetFramework="net45" />
</packages>